[user]
	name = Andy Sponring
	email = andy@liftoff.io
[branch]
	autosetuprebase = always
[push]
	default = simple
[core]
  editor = /usr/bin/vim
[alias]
  pl = pull
  di = diff
  st = status
  cm = commit
  co = checkout
  br = branch
  wc = whatchanged
  cp = cherry-pick -x
  sm = submodule
  sh = stash
  lo = log
  ol = log --oneline
  #rb = "!bash -c 'git rebase -i HEAD~$1' -"
  last = "!git log --oneline -n 1 --format='%H'"
